{% extends "layouts/layouts.html" %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<div class="container-fluid">

    <div class="row bg-primary">
        <div class="col-md-6">
            <h1 class="text-white">Task Manager</h1>
        </div>
        <div class="col-md-6">
            <a href="logout" class="btn btn-danger btn-sm float-right m-2">Logout</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3">
            <h4>Task List</h4>
            <small>Property Owner</small>
        </div>

        <div class="col-md-12">
            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Created At</th>
                        <th>Assignee</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{task.id}}</td>
                            <td>{{task.title}}</td>
                            <td>{{task.description}}</td>
                            <td>{{task.created_at}}</td>
                            <td>
                                {% if task.name == '' %}
                                    Unassigned
                                {% else %}
                                    {{task.name}}
                                {% endif %}
                                </td>
                            <td>
                                {% if task.status == 'Accepted' or task.status == 'Assigned' %}
                                <div class="btn btn-default">{{task.status}}</div>
                                {% endif %}

                                {% if task.status == 'Inprogress' %}
                                <div class="btn btn-primary">{{task.status}}</div>
                                {% endif %}

                                {% if task.status == 'Need Equipment' %}
                                <div class="btn btn-warning">{{task.status}}</div>
                                {% endif %}

                                {% if task.status == 'Unable to work' %}
                                <div class="btn btn-danger">{{task.status}}</div>
                                {% endif %}

                                {% if task.status == 'Completed' %}
                                <div class="btn btn-success">{{task.status}}</div>
                                {% endif %}

                                {% if task.status == '' %}
                                <div class="btn btn-default">Unassigned</div>
                                {% endif %}
                            </td>
                            <td>
                                <a href="view?id={{task.id}}" class="btn btn-primary mr-1" name="view">View</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

</div>

{% endblock %}