{% extends "layouts/layouts.html" %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/login.css" />

<div class="login-form">

    <form action="auth" method="POST">

        <h2 class="text-center">Log in</h2>       

        <div class="form-group">
            <input type="email" id="email" name="email" class="form-control" placeholder="email" required="required">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>

        <div class="form-group">
            <span>{{message}}</span>
        </div> 

    </form>

</div>
{% endblock %}