{% extends "layouts/layouts.html" %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/viewTask.css" /> 
<script type="text/javascript" src="../static/js/jquery.js"></script>
<script type="text/javascript" src="../static/js/jquery.form.js"></script>
<script type="text/javascript" src="../static/js/script.js"></script>
<script type="text/javascript">
    function removeFile(id) {
        $.ajax({
                type: 'POST',
                url: 'removeFile',
                data: { id: id },
                success: function(data) {
                     location.reload(true);
                }
        });
    }
</script>

<div class="container-fluid">
    
    <div class="row bg-primary">
        <div class="col-md-6">
            <h1 class="text-white">Task Manager</h1>
        </div>
        <div class="col-md-6">
            <a href="logout" class="btn btn-danger btn-sm float-right m-2">Logout</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3">
            <h2>View Task 
                <button type="button" class="btn btn-primary mt-2 float-right" data-toggle="modal" data-target="#myModal">Assign</button>
                <a class="btn btn-info mt-2 mr-1 float-right" href="index">Back</a>
            <h2><hr/>
        </div>
    </div>

    <form class="uploadFile" action="uploadFile" method="POST" enctype="multipart/form-data">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Title </label>
                    <input type="hidden" name="id" id="id" value="{{task.id}}" />
                    <input type="text" class="form-control" readonly="true" value="{{task.title}}">
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label>Assignee</label>
                    <input type="text" class="form-control" readonly="true" value="{{task.comapny_name}}" placeholder="Unassigned ">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Create date</label>
                    <input type="text" class="form-control" readonly="true" value="{{task.created_at}}">
                </div>
            </div>            
            <div class="col-md-6">
                <div class="form-group">
                    <label>Status</label>
                    <input type="text" class="form-control" readonly="true" value="{{task.status}}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" readonly="true">{{task.description}}</textarea>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 mt-2">
                <h2>Upload Documents</h2><hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Document Name</label>
                    <input type="text" class="form-control" name="file" id="file" value="" placeholder="Work Description, Bedroom photo, Site Video etc">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Upload file</label>
                    <input type="file" name="files[]" class="mb-1 form-control" multiple="multiple" id="files">
                    <small>Allowed file formats: jpg, jpeg, png, mp4, 3gp, mpeg, mp3, ogg, pdf, docx</small>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="progress">
                        <div class="bar">&nbsp;</div >
                        <div class="percent">0%</div >
                    </div>        
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Upload" name="tsub" id="tsub" class="button btn btn-primary">        
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="status"></div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-md-12 mt-2">
            <h2>Property Owner Files</h2><hr/>
        </div>
    </div>

    <div class="container">

        <div class="row doc-list">
            <div class="col-md-1">File#</div>
            <div class="col-md-3">File Description</div>
            <div class="col-md-4">File</div>
            <div class="col-md-3">Uploaded At</div>
            <div class="col-md-1">Action</div>
        </div>

        {% for file in propertyOwnerFiles %}

            <div class="row pb-10">

                <div class="col-md-1">{{file.id}}</div>
                <div class="col-md-3">
                        {% if file.title == '' %}
                        Uploaded by Property Owner
                    {% else %}
                        {{file.title}}
                    {% endif %}
                </div>

                <div class="col-md-4">

                    {% if file.asset_type == 'jpg' or file.asset_type == 'JPG' or file.asset_type == 'png' or file.asset_type == 'jpeg' %}
                        <div class="img-wrap" style="position: relative;">
                            <img src="{{file.asset_name}}" width="300px" height="200px">
                        </div>
                    {% endif %}
                    
                    {% if file.asset_type == 'mp4' or file.asset_type == '3gp' or file.asset_type == 'MPEG' %}
                        <div class="img-wrap" style="position: relative;">
                            <video width="300px" controls>
                                <source src="{{file.asset_name}}" type="video/{{file.asset_type}}">
                            </video>
                        </div>
                    {% endif %}

                    {% if file.asset_type == 'mp3' or file.asset_type == 'ogg' %}
                        <div class="img-wrap" style="position: relative;">
                            <audio controls>
                                <source src="{{file.asset_name}}" type="audio/{{file.asset_type}}">
                                Your browser does not support the audio tag.
                            </audio>
                        </div>
                    {% endif %}

                    {% if file.asset_type == 'pdf' or file.asset_type == 'docx' %}
                        <div class="img-wrap" style="position: relative;">
                            <a href="{{file.asset_name}}" download="pdf/docs">
                                <p class="text-center">Download {{file.asset_type}}</p>
                            </a>
                        </div>
                    {% endif %}

                </div>

                <div class="col-md-3">{{file.created_at}}</div>

                <div class="col-md-1">
                    <span class="btn btn-danger" onclick="removeFile({{file.id}})">Delete</span>
                </div>
            </div>

        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-12 mt-2">
            <h2>Cleaning Company Files</h2><hr/>
        </div>
    </div>

    <div class="container">

        <div class="row doc-list">
            <div class="col-md-1">File#</div>
            <div class="col-md-3">File Description</div>
            <div class="col-md-4">File</div>
            <div class="col-md-3">Uploaded At</div>
            <div class="col-md-1">Action</div>
        </div>

        {% for file in cleaningCompanyFiles %}
            
            <div class="row pb-10">

                <div class="col-md-1">{{file.id}}</div>
                <div class="col-md-3">
                        {% if file.title == '' %}
                        Uploaded by Property Owner
                    {% else %}
                        {{file.title}}
                    {% endif %}
                </div>

                <div class="col-md-4">

                    {% if file.asset_type == 'jpg' or file.asset_type == 'JPG' or file.asset_type == 'png' or file.asset_type == 'jpeg' %}
                        <div class="img-wrap" style="position: relative;">
                            <img src="{{file.asset_name}}" width="300px" height="200px">
                        </div>
                    {% endif %}
                    
                    {% if file.asset_type == 'mp4' or file.asset_type == '3gp' or file.asset_type == 'MPEG' %}
                        <div class="img-wrap" style="position: relative;">
                            <video width="300px" controls>
                                <source src="{{file.asset_name}}" type="video/{{file.asset_type}}">
                            </video>
                        </div>
                    {% endif %}

                    {% if file.asset_type == 'mp3' or file.asset_type == 'ogg' %}
                        <div class="img-wrap" style="position: relative;">
                            <audio controls>
                                <source src="{{file.asset_name}}" type="audio/{{file.asset_type}}">
                                Your browser does not support the audio tag.
                            </audio>
                        </div>
                    {% endif %}

                    {% if file.asset_type == 'pdf' or file.asset_type == 'docx' %}
                        <div class="img-wrap" style="position: relative;">
                            <a href="{{file.asset_name}}" download="pdf/docs">
                                <p class="text-center">Download {{file.asset_type}}</p>
                            </a>
                        </div>
                    {% endif %}

                </div>

                <div class="col-md-3">{{file.created_at}}</div>

                <div class="col-md-1">
                    <span class="btn btn-danger" onclick="removeFile({{file.id}})">Delete</span>
                </div>
            </div>

        {% endfor %}
    </div>
    
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            
            <div class="modal-content">
                <form class="assignTask" action="assignTask" method="POST">
                    
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Assign Task</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <input type="hidden" name="id" id="id" value="{{task.id}}">
                        <div class="form-group">
                            <select class="form-control" name="company" id="company">
                                <option value="" disabled selected>-Select Company-</option>
                                <option value="0">Unassigned</option>
                                {% for company in companies %}
                                    <option value="{{company.id}}">{{company.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="text-success assign_msg"></div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="submit" name="tsub" name="tsub" class="btn btn-primary mr-1" value="Save" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </form>
            </div>

        </div>
    </div>

</div>

{% endblock %}